
@model IEnumerable<Team6Workshop5.Models.NEWAccountBookings>


@{
    ViewBag.Title = "Pack";
}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1>Bookings Details</h1>
        </div>
    </div>
</div>



@* FOR PACKAGES *@

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3 style="float:left">Packages</h3>
        </div>
    </div>


    <table class="table">

        <tr class="row">
            <th class="col-sm">
                @Html.DisplayNameFor(model => model.PACKPkgName)
            </th>
            <th class="col-sm">
                @Html.DisplayNameFor(model => model.PACKPkgBasePrice)
            </th>
            <th class="col-sm">
                @Html.DisplayNameFor(model => model.PACKBookingId)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            if ((item.PACKProdName) != null)
            {
                <tr class="row">
                    <td class="col-sm">
                        @Html.DisplayFor(modelItem => item.PACKPkgName)
                    </td>
                    <td class="col-sm">
                        @Html.DisplayFor(modelItem => item.PACKPkgBasePrice)
                    </td>
                    <td class="col-sm">
                        @Html.DisplayFor(modelItem => item.PACKBookingId)
                    </td>
                </tr>

            }
        }

    </table>


    @* FOR PACK TOTAL *@
    <table class="table">
        <tr style="float:right">
            <th>
                @Html.DisplayNameFor(model => model.PACKTotal)
            </th>

            @foreach (var item in Model)
            {
                if ((item.PACKTotal) != null)
                {

                    <td>
                        @Html.DisplayFor(modelItem => item.PACKTotal)
                    </td>
                }
            }
        </tr>
    </table>

    @* FOR PRODUCTS *@
    <h3 style="float:left">Products</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PRODProdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRODBasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRODBookingId)
            </th>
            <th></th>
        </tr>




        @foreach (var items in Model)
        {

            if ((items.PRODProdName) != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => items.PRODProdName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => items.PRODBasePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => items.PRODBookingId)
                    </td>
                </tr>
            }
        }


    </table>

    @* FOR PACK TOTAL *@
    <table class="table">
        <tr style="float:right">
            <th>
                @Html.DisplayNameFor(model => model.PRODTotal)
            </th>


            @foreach (var items in Model)
            {
                if ((items.PRODTotal) != null)
                {

                    <td>
                        @Html.DisplayFor(modelItem => items.PRODTotal)
                    </td>

                }
            }
        </tr>


    </table>

</div>


